.desktop {
    position: relative;
width: 1200px;
height: 2336px;
background: #FFFFFF;
}
.hero {
    position: absolute;
    height: 822px;
    width: 1315px;
    top: -22px;
    left: -116px; 
    background: url("Images/Desktop_Backgrounds_1920x1200_6.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
}
.hero-block {
    position: absolute;
    width: 426px;
    height: 292px;
    right: 387px;
    bottom: 256px;
}
.logo1 {
    position: absolute;
width: 63px;
height: 63px;
left: 182px;
bottom: 229px;
}
img.logo {
    width: 63px;
    height: 63px;
position: absolute;
left: 0%;
right: 0.01%;
top: 0%;
bottom: 0.01%;
color: #55C2D8;
/* margin: 274px 567px 485px 685px; */
}
h1.first {
    position: absolute;
    left: 20px;
top: 76px;
width: 386px;
height: 118px;
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;
color: #FFFFFF;
margin: 0;
/* margin: 350px 406px 354px 523px; */
}
.p {
    position: absolute;
top: 236px;
width: 426px;
height: 56px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
margin: 0;
/* or 133% */
text-align: center;
color: rgba(255, 255, 255, 0.7);
/* margin: 510px 386px 256px 503px; */
}
.main {
    position: absolute;
    width: 1200px;
height: 700px;
left: 0px;
top: 800px;
background: #EEEEEE;
}
h1.second {
    position: absolute;
width: 669px;
height: 119px;
left: 265px;
top: 87px;
margin: 0;
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;
color: #464547;
}
.p1 {
    position: absolute;
width: 426px;
height: 57px;
left: 387px;
top: 246px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

color: #666666;
}
.p2 {
    position: absolute;
width: 983px;
height: 194px;
left: 97px;
top: 351px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */
text-align: center;

color: #000000;
}
.readmore {
    font-family: 'Oswald';
height: 36px;
width: 115px;
font-size: 14px;
line-height: 25px;
/* or 186% */
text-align: center;
letter-spacing: 0.1em;
position: absolute;
top: 566px;
left: 542px;
background: #55C2D8;
border-radius: 18px;
color: #FFFFFF;
}
.learnmore {
    position: absolute;
width: 1200px;
height: 666px;
left: 0px;
top: 1500px;
background: rgba(140, 79, 42, 0.3);
}
img.more {
    width: 1200px;
height: 666px;
}
h1.last {
    position: absolute;
width: 480px;
height: 117px;
left: 360px;
top: 84px;
margin: 0;
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;
color: #FFFFFF;
}
img.button {
    position: absolute;
width: 150px;
height: 150px;
left: 525px;
top: 254px;

color: #39C2D7;
}
img.polygon {
    position: absolute;
width: 51px;
height: 47px;
right: 565px;
top: 305px;

color: #FFFFFF;
border-radius: 2px;
}
.p3 {
    position: absolute;
width: 390px;
height: 102px;
left: 395px;
top: 474px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

color: #FFFFFF;
}
.footer {
    position: absolute;
width: 1200px;
height: 170px;
left: 0px;
top: 2166px;

background: #464547;
}
.project {
    position: absolute;
width: 128px;
height: 20px;
left: 145px;
top: 19px;
display: inline;

}
img.project {
    position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 0px;
}
p.project {
    position: absolute;
width: 92px;
height: 16px;
left: 36px;
top: 2px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 16px;
/* identical to box height, or 89% */
margin: 0;
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF
}
address {
    position: absolute;
width: 174px;
height: 33px;
left: 140px;
top: 51px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */
color: rgba(255, 255, 255, 0.4);
}
a {
    position: absolute;
width: 142px;
height: 22px;
left: 140px;
top: 90px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */
color: rgba(255, 255, 255, 0.4);
text-decoration: none;
}
.p4 {
    position: absolute;
width: 243px;
height: 20px;
left: 140px;
top: 112px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */
color: rgba(255, 255, 255, 0.4);
}